
<section class="content">
	<div class="col-lg-4">

	</div>
	<div class="col-lg-4">
		<div class="box box-success collapsed-box">
			<div class="box-header with-border">
				<i class="fas fa-code"></i>

				<h3 class="box-title">Mock data</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				</div>
			</div>

			<div class="box-body" ng-controller="DataCtrl">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Device</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.device" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Content</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.value" />
						</div>
					</div>

					<button type="submit" class="btn btn-info pull-right" ng-click="create(data)">Notify</button>
				</form>

			</div>
		</div>
		<div class="box box-primary">

			<div class="box-header ui-sortable-handle" style="cursor: move;">
				<i class="fas fa-bullhorn"></i>

				<h3 class="box-title">Data from device</h3>
			</div>

			<div class="box-body" ng-controller="DataCtrl">
				<ul class="todo-list ui-sortable">
					<li ng-repeat="data in dataEntries | orderBy:'+':true" class="data-entry">
						<span class="text">{{data.value}}</span>

						<small class="label label-primary">{{ data.device }}</small>
						<small class="label label-success"><i class="fas fa-clock"></i> {{ data.updatedAt | date : 'short' }}</small>
						<div class="tools">
							<div class="btn btn-flat btn-xs btn-danger" ng-click="remove(data)">Remove</div>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>

</section>




