
<section class="content">
	<div class="col-lg-8">
		<div class="box box-danger" ng-controller="DataCtrl">
			<div class="box-header with-border">
				<i class="fa fa-bar-chart-o"></i>

				<h3 class="box-title">Data evolution</h3>
			</div>
			<div class="box-body">
				<canvas id="line"
						class="chart chart-line"
						chart-data="statistic"
						chart-labels="labels"
						chart-options="options"></canvas>
			</div>
			<!-- /.box-body-->
		</div>
		<!-- /.box -->
	</div>
	<div class="col-lg-4">
		<div class="box box-success collapsed-box">
			<div class="box-header with-border">
				<i class="fas fa-dashboard"></i>

				<h3 class="box-title">AI Controller</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				</div>
			</div>

			<div class="box-body" ng-controller="DataCtrl">
				<h4>Learning</h4>
				<input type="checkbox" data-toggle="toggle" ng-checked="enableAI" />

			</div>
		</div>
		<div class="box box-success collapsed-box">
			<div class="box-header with-border">
				<i class="fas fa-code"></i>

				<h3 class="box-title">Mock data</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				</div>
			</div>

			<div class="box-body" ng-controller="DataCtrl">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Device</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.device" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Value</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.value" />
						</div>
					</div>

					<button type="submit" class="btn btn-info pull-right" ng-click="create(data)">Notify</button>
				</form>

			</div>
		</div>
		<div class="box box-primary">

			<div class="box-header ui-sortable-handle" style="cursor: move;">
				<i class="fas fa-bullhorn"></i>

				<h3 class="box-title">Data from device</h3>
				<button type="button" ng-show="dataEntries.length > 0" ng-click="clean()" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Remove all"><i class="fas fa-bomb"></i></button>
			</div>

			<div class="box-body" ng-controller="DataCtrl">
				<ul class="todo-list ui-sortable">
					<li ng-repeat="data in dataEntries | orderBy:'+':true" class="data-entry">
						<span class="text">{{data.value}}</span>

						<small class="label label-primary">{{ data.device }}</small>
						<small class="label label-success"><i class="fas fa-clock"></i> {{ data.updatedAt | date : 'short' }}</small>
						<div class="tools">
							<div class="btn btn-flat btn-xs btn-danger" ng-click="remove(data)">Remove</div>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>

</section>
